//mapas colores

$colors: (
//Diccionario clave valor
primary: #bd1e67, secondary: #00ffff, danger: #ff0000, dark: #6E7F7E, yellow: #ffd800, lightTextColor: whitesmoke, dropdownMenu:aliceblue );

//diccionario de fonts
$texto: ( primary: 'Segoe UI', secondary: 'Tahoma', third: 'Geneva', forth: 'Verdana', default: 'sans-serif' );
